---
const { title, description, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
 <!---
  * Kettra World v3.0.0 (https://github.com/kettraworld)
  * Copyright 2022-2024 Kettra World
  * Apache License 2.0 (https://www.apache.org/licenses/LICENSE-2.0)
  * Author: Sebastian Jn (https://github.com/sebastianjnuwu)
 --->
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="X-UA-Compatible" content="IE=7,8,edge" />
  
  <title>{title}</title>

  <meta name="theme-color" content="#B85870">
  <meta name="robots" content="index, follow">

  <meta property="og:title" content= {title}>
  <meta property="og:url" content={url} />
  <meta property="og:description" content={description} />
  
  <meta property="og:thumbnail" content="src/background/thumbnail.jpeg" />
  
  <meta name="generator" content={Astro.generator} />
  <link rel="canonical" href={Astro.url} />
  
  <link rel="apple-touch-icon" href="favicon.ico" type="image/x-icon" />
  
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" type="text/css" media="all" /> 
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" type="text/css" media="all" />
  
</head>
<style is:global>
:root {
  --layout: #8a2be2;
  --layout-dark: #483d8b;
  --cookie: #443f3f;
  --text-color: #fff;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'MedievalSharp', cursive;
  background-color: black;
}

main {
  min-height: 100vh;
  padding-bottom: 40px;
}
</style>
 <body>
   <slot />
 </body>
</html>